
.loader-container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

.hidden {
    display: none;
    height: 0;
}

.loader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid rgb(58, 225, 255);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

