
.page-not-found-container {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}

h1 {
    font-size: 26px;
}